<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>favorite</title>
</head>
<body>
    <header>
        <h1>
            MY FAVORITE MOVIES/TV SERIES
        </h1>
    </header>
    <main>

<div class="allContainer">
<%data.forEach(val=>{%>

<div class="container">
<h3><%=val.name%></h3>
<h4><%=val.country%></h4>
<img src="<%=val.image%>" alt="">
<p><%=val.overview%></p>


<a href="/details/<%=val.id%>"><button >more details</button></a>


</div>

<%})%>


</div>

 </main>

</body>
</html>